// Variable overrides first
// $primary: #8fd4f8;
$success: #6afaa8;
$warning: #ffe883;
$danger: #FF584C;
$info: #ff8ece;

$enable-shadows: true;
$prefix: "mo-";
$enable-gradients: true;

// $nav-link-color: #fff;

// font-family: 'Barlow Semi Condensed', sans-serif;
// font-family: 'Montserrat', sans-serif;

$body-font-family: 'Montserrat', sans-serif;
$font-sans-serif: 'Barlow Semi Condensed', sans-serif;

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";


.slider{
    background: url(../img/bg-3.png);
    background-size: cover;
    background-position: center;
    height: 400px;
}

.slider-foot{
    background: url(../img/bg-2.png);
    background-size: cover;
    background-position: center;
    height: 400px;
}

.love-buttom{
    cursor: pointer;
}

.text-justify{
    text-align: justify;
}